<?php $color = colors(); ?>

body{
	padding-left: 10rem;
}

header{
	background-color: <?php echo $color[ 0 ]; ?>;
	font-family: 'Quicksand', sans-serif;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 10rem;
	z-index: 2;
}

header>.sitename{
	border-style: none;
	cursor: pointer;
	display: block;
	margin-bottom: 2rem;
	outline-style: none;
	padding: 1rem;
	text-decoration: none;
}

header>.sitename>.logo{
	background-color: <?php echo $color[ 4 ]; ?>;
	height: 4rem;
	margin: auto;
	margin-bottom: 0.3rem;
	width: 4rem;
}

header>.sitename:hover>.logo{
	background-color: <?php echo $color[ 1 ]; ?>;
}

header>.sitename>.text{
	color: <?php echo $color[ 4 ]; ?>;
	font-size: 1rem;
	text-align: center;
	white-space: nowrap;
}

header>.sitename:hover>.text{
	color: <?php echo $color[ 1 ]; ?>;
}

header>.menu>a{
	border-style: none;
	border-left: 0.3rem solid transparent;
	border-right: 0.3rem solid transparent;
	cursor: pointer;
	display: block;
	outline-style: none;
	padding: 0.5rem 0.3rem;
	text-decoration: none;
}

header>.menu>a:hover{
	background-color: rgba( 0, 0, 0, 0.2 );
	border-left-color: <?php echo $color[ 1 ]; ?>;
	border-right-color: <?php echo $color[ 1 ]; ?>;
}

header>.menu>a>.icon{
	background-color: <?php echo $color[ 4 ]; ?>;
	height: 3rem;
	margin: auto;
	width: 3rem;
}

header>.menu>a>.text{
	color: <?php echo $color[ 1 ]; ?>;
	text-align: center;
}

main>section>article:not( :last-child ){
	margin-bottom: 3rem;
}

main>section.content>article>.title{
	align-items: center;
	background-color: <?php echo $color[ 0 ]; ?>;
	box-shadow: -0.5rem 0.5rem 0.5rem black;
	display: inline-flex;
	flex-direction: row;
	padding: 0.5rem;
}

main>section.content>article>.title>.icon{
	background-color: white;
	margin-right: 0.5rem;
	width: 3rem;
	height: 3rem;
}

main>section.content>article>.title>.text{
	color: <?php echo $color[ 1 ]; ?>;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
}

main>section.content>article>.content{
	padding-top: 1rem;
}

main>section.content>article>.content>.icon{
	background-color: <?php echo $color[ 5 ]; ?>;
	width: 5rem;
	height: 5rem;
	margin: auto;
}

main>section.content>article>.content>.center{
	padding: 0.5rem;
	text-align: center;
}

main>section.content>article>.content>.center>*{
	margin: 0.5rem;
}

main>section.content>article>.content input[ type = "submit" ],
main>section.content>article>.content input[ type = "button" ]{
	background-color: <?php echo $color[ 0 ]; ?>;
	border-style: none;
	border-left: 0.3rem solid <?php echo $color[ 0 ]; ?>;
	border-right: 0.3rem solid <?php echo $color[ 0 ]; ?>;
	cursor: pointer;
	color: <?php echo $color[ 4 ]; ?>;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	outline-style: none;
	padding: 0.5rem 2rem;
}

main>section.content>article>.content input[ type = "submit" ]:hover,
main>section.content>article>.content input[ type = "button" ]:hover{
	border-left-color: <?php echo $color[ 1 ]; ?>;
	border-right-color: <?php echo $color[ 1 ]; ?>;
	color: <?php echo $color[ 1 ]; ?>;
}

main>section.content>article>.content>.text{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	padding: 0px 3rem;
	text-align: justify;
	text-justify: inter-word;
	white-space: pre-line;
	word-break: all;
}

main>section.content>article>.content>.text *{
	font-style: inherit;
	font-color: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}

main>section.content>article>.content>.text a{
	border-style: none;
	color: <?php echo $color[ 2 ]; ?>;
	cursor: pointer;
	font-style: italic;
	text-decoration: underline;
	outline-style: none;
}

main>section.content>article>.content>ul{
	padding: 0px 3rem;
}

main>section.content>article>.content>ul ul{
	padding-left: 1.5rem;
}

main>section.content>article>.content ul>li{
	display: flex;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	flex-direction: row;
	list-style: none;
}

main>section.content>article>.content ul>li:not( :last-child ){
	margin-bottom: 1rem;
}

main>section.content>article>.content ul>li>.icon{
	flex: 0 0 3rem;
	height: 3rem;
	margin-right: 0.5rem;
	margin-bottom: auto;
}

main>section.content>article>.content ul>li>.icon:not( svg ){
	background-color: <?php echo $color[ 5 ]?>;
}

main>section.content>article>.content ul>li>svg.icon{
	fill: <?php echo $color[ 5 ]?>;
}

main>section.content>article>.content ul>li>.content{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

main>section.content>article>.content>.gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0.5rem;
}

main>section.content>article>.content>.gallery>.image{
	align-items: flex-end;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	display: flex;
	flex: 1 0 38vh;
	min-height: 38vh;
	margin: 0.5rem;
}

main>section.content>article>.content>.gallery>.image>.description{
	background-color: rgba( 0, 0, 0, 0.8 );
	color: <?php echo $color[ 4 ]; ?>;
	flex: 1 auto;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2rem;
	padding: 0.3rem;
	text-align: justify;
	text-justify: inter-word;
	transition: 0.3s;
	opacity: 0;
	white-space: pre-line;
	word-break: break-all;
}

main>section.content>article>.content>.gallery>.image:hover>.description{
	opacity: 1;
}