@media (min-width: 1001px) {
    #logovs {
        position: relative;
        right: 20%;
        background-color: rgba(14.116.5, 0.877);
        border-radius: 50%;
        border: 6px white solid;
        padding: 30px 40px 30px 40px;
        width: 15vw;
        height: 15vw;
        border-style: double;
        object-fit: contain;
    }
    .tituloVS {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 5%;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.916) 0%,
            rgba(14, 116, 5, 0.653) 100%
        );
    }
    #textovs > * {
        -webkit-animation: fadeInUp 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadeInUp 1s; /* Firefox < 16 */
        -ms-animation: fadeInUp 1s; /* Internet Explorer */
        -o-animation: fadeInUp 1s; /* Opera < 12.1 */
        animation: fadeInUp 1s;
    }
    #fondoVisualizadorArboles {
        background-image: url("/img/fude15.jpg");
    }
    #VisualizacionArboles {
        background: white;
        display: flex;
        flex-direction: column;
        color: white;
        border-radius: 10px;
        padding: 10px;
        height: auto;
        border: 2px white solid;
    }

    #cajavs {
        flex-direction: column;
        display: flex;
        padding: 10px;
        justify-content: center;
    }

    .btn_adoptar {
        outline: none;
        color: white;
        border-radius: 10px;
        margin-top: 2vw;
        border: 1px solid black;
        background-color: rgb(14, 116, 5);
        text-decoration: none;
        text-align: center;
    }
    .btn_verificar {
        margin-bottom: 40px;
        width: 90%;
        outline: none;
        color: white;
        border-radius: 10px;
        margin-top: 2vw;
        border: 1px solid black;
        background-color: rgb(158, 108, 0);
        text-decoration: none;
        text-align: center;
    }
    .btn_adoptar:hover {
        color: white;
    }
    #arbolInfo {
        width: 20vw;
        height: 34vw;
        border-radius: 10px 0px 0px 10px;
        margin-bottom: 10px;
    }

    .adoptado {
        color: #808080;
        font-size: 1rem;
    }

    .center-text {
        text-align: center;
    }
    .disponible {
        color: green;
        font-size: 1rem;
    }

    #datosArbol {
        background-color: white;
        padding: 20px;
        height: 34vw;
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: left;
        border-radius: 0px 10px 10px 0px;
        justify-content: center;
    }

    #adoptado,
    #libre {
        margin: 0px 10px 0px 10px;
    }

    .escoger_lote {
        display: flex;
        flex-direction: row;
        margin: auto;
        height: 34vw;
        box-shadow: 0px 0px 10px gray;
        border-radius: 10px;
    }

    #plano {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .tab_container {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 15px gray;
        padding: 20px;
        height: auto;
        border-radius: 10px;
    }
    .tab_container h6 {
        display: none;
    }
    .tab_buttons {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .tab_buttons button,
    .tab_buttons button:focus {
        width: 20%;
        background-color: white;
        border: none;
        outline: none;
        border-bottom: 2px solid white;
        transition: 0.5s;
    }

    .tab_buttons button:focus {
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        transition: 0.5s;
    }

    .row_container {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
/*CSS movil*/
@media all and (max-width: 1000px) and (orientation: portrait) {
    #logovs {
        background-color: rgba(14.116.5, 0.877);
        border-radius: 50%;
        border: 6px white solid;
        padding: 30px 40px 30px 40px;
        width: 50vw;
        height: 50vw;
        border-style: double;
        object-fit: contain;
    }
    .tituloVS {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 5%;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.916) 0%,
            rgba(14, 116, 5, 0.653) 100%
        );
        height: 100vh;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .tituloVS label {
        font-size: 30px;
        font-weight: bold;
    }
    #textovs > * {
        -webkit-animation: fadeInUp 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadeInUp 1s; /* Firefox < 16 */
        -ms-animation: fadeInUp 1s; /* Internet Explorer */
        -o-animation: fadeInUp 1s; /* Opera < 12.1 */
        animation: fadeInUp 1s;
    }
    #fondoVisualizadorArboles {
        background-image: url("/img/fude15.jpg");
    }
    #VisualizacionArboles {
        background: white;
        display: flex;
        flex-direction: column;
        color: white;
        border-radius: 10px;
        padding: 10px;
        height: auto;
        overflow-x: auto;
        border: 2px white solid;
    }
    #VisualizacionArboles div {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #VisualizacionArboles div i {
        font-size: 20px;
        margin-left: 4px;
        margin-right: 4px;
    }

    #cajavs {
        flex-direction: column;
        display: flex;
        padding: 10px;
        justify-content: center;
    }

    .btn_adoptar {
        outline: none;
        color: white;
        border-radius: 10px;
        margin-top: 2vw;
        border: 1px solid black;
        background-color: rgb(14, 116, 5);
        text-decoration: none;
        text-align: center;
    }
    .btn_verificar {
        margin-bottom: 40px;
        width: 90%;
        height: 40px;
        outline: none;
        color: white;
        border-radius: 10px;
        margin-top: 2vw;
        border: 1px solid black;
        background-color: rgb(158, 108, 0);
        text-decoration: none;
        text-align: center;
    }

    .btn_adoptar:hover {
        color: white;
    }
    #arbolInfo {
        width: 40vw;
        height: 57vh;
        border-radius: 10px 0px 0px 10px;
    }

    .adoptado {
        color: #808080;
        font-size: 1rem;
    }

    .center-text {
        text-align: center;
    }
    .disponible {
        color: green;
        font-size: 1rem;
    }

    #datosArbol {
        background-color: white;
        padding: 20px;
        height: 55vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        text-align: left;
        border-radius: 0px 10px 10px 0px;
        justify-content: center;
        margin-bottom: 10px;
    }

    #adoptado,
    #libre {
        margin: 0px 10px 0px 10px;
    }

    .escoger_lote {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90vw;
        height: auto;
        box-shadow: 0px 0px 10px gray;
    }

    #plano {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .tab_container {
        width: 90vw;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 15px gray;
        padding: 20px;
        height: auto;
        border-radius: 10px;
        margin-bottom: 60px;
    }
    .tab_container h6 {
        font-size: 13px;
        margin-top: 10px;
    }
    .tab_buttons {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .tab_buttons button,
    .tab_buttons button:focus {
        width: 20%;
        background-color: white;
        border: none;
        outline: none;
        border-bottom: 2px solid white;
        transition: 0.5s;
    }

    .tab_buttons button:focus {
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        transition: 0.5s;
    }

    .row_container {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media all and (max-width: 1000px) and (orientation: landscape) {
    #logovs {
        background-color: rgba(14.116.5, 0.877);
        border-radius: 50%;
        border: 6px white solid;
        padding: 30px 40px 30px 40px;
        width: 30vw;
        height: 30vw;
        border-style: double;
        object-fit: contain;
    }
    .tituloVS {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 5%;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.916) 0%,
            rgba(14, 116, 5, 0.653) 100%
        );
        height: 100vh;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .tituloVS label {
        font-size: 30px;
        font-weight: bold;
    }
    #textovs > * {
        -webkit-animation: fadeInUp 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadeInUp 1s; /* Firefox < 16 */
        -ms-animation: fadeInUp 1s; /* Internet Explorer */
        -o-animation: fadeInUp 1s; /* Opera < 12.1 */
        animation: fadeInUp 1s;
    }
    #fondoVisualizadorArboles {
        background-image: url("/img/fude15.jpg");
    }
    #VisualizacionArboles {
        background: white;
        display: flex;
        flex-direction: column;
        color: white;
        border-radius: 10px;
        padding: 10px;
        height: auto;
        overflow-x: auto;
        border: 2px white solid;
    }
    #VisualizacionArboles div {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #VisualizacionArboles div i {
        font-size: 20px;
        margin-left: 4px;
        margin-right: 4px;
    }

    #cajavs {
        flex-direction: column;
        display: flex;
        padding: 10px;
        justify-content: center;
    }

    .btn_adoptar {
        outline: none;
        color: white;
        border-radius: 10px;
        margin-top: 7vw;
        border: 1px solid black;
        background-color: rgb(14, 116, 5);
        text-decoration: none;
        text-align: center;
        min-height:5vw;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .btn_verificar {
        margin-bottom: 40px;
        width: 90%;
        height: 40px;
        outline: none;
        color: white;
        border-radius: 10px;
        margin-top: 2vw;
        border: 1px solid black;
        background-color: rgb(158, 108, 0);
        text-decoration: none;
        text-align: center;
    }

    .btn_adoptar:hover {
        color: white;
    }
    #arbolInfo {
        width: 40vw;
        height: 100vh;
        border-radius: 10px 0px 0px 10px;
    }

    .adoptado {
        color: #808080;
        font-size: 1rem;
    }

    .center-text {
        text-align: center;
    }
    .disponible {
        color: green;
        font-size: 1rem;
    }

    #datosArbol {
        background-color: white;
        padding: 20px;
        height: 55vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        text-align: left;
        border-radius: 0px 10px 10px 0px;
        justify-content: center;
        margin-bottom: 10px;
    }

    #adoptado,
    #libre {
        margin: 0px 10px 0px 10px;
    }

    .escoger_lote {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90vw;
        height: auto;
        box-shadow: 0px 0px 10px gray;
    }

    #plano {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .tab_container {
        width: 90vw;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 15px gray;
        padding: 20px;
        height: auto;
        border-radius: 10px;
        margin-bottom: 60px;
    }
    .tab_container h6 {
        font-size: 13px;
        margin-top: 10px;
    }
    .tab_buttons {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .tab_buttons button,
    .tab_buttons button:focus {
        width: 20%;
        background-color: white;
        border: none;
        outline: none;
        border-bottom: 2px solid white;
        transition: 0.5s;
    }

    .tab_buttons button:focus {
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        transition: 0.5s;
    }

    .row_container {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/*Datos adopcion*/
@media (min-width: 1001px) {
    #datosPadrino {
        display: flex;
        width: 20vw;
        flex-direction: column;
        margin: auto;
        height: 34vw;
        border-radius: 10px;
        box-shadow: 0px 8px 10px gray;
    }
    #datosComprobante {
        display: flex;
        width: 16vw;
        border-radius: 10px 10px 0px 0px;
        flex-direction: column;
        height: 34vw;
        border-radius: 10px 0px 0px 10px;
    }
    #c_datos h5 {
        text-align: center;
    }
    .input_comprobante {
        margin-top: 10px;
        background-color: rgb(158, 108, 0);
        color: white;
        width: 12vw;
        border-radius: 20px;
        border: 1px solid black;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .input_comprobante:hover {
        color: white;
    }
    .enviar {
        background-color: rgb(2, 122, 165);
    }

    #c_datos div {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
    }
    #pdf_img {
        border-radius: 0px 10px 10px 0px;
        width: 20vw;
        flex: 1;
        height: 34vw;
    }
    #padrino_info {
        flex: 1;
        display: flex;
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #c_datos {
        flex: 1;
        display: flex;
        margin-top: 40px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .b1 {
        border-radius: 10px 10px 0px 0px;
    }

    .b2 {
        border-radius: 0px 0px 10px 10px;
    }

    #datosPadrino input {
        margin-top: 15x;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
    }

    #fondoAdoptarArboles {
        background-image: url("/img/fude17.jpg");
        background-size: 100% 100%;
    }

    .tituloAA {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 5%;
        background: linear-gradient(
            140deg,
            rgba(0, 0, 0, 0.9539390756302521) 0%,
            rgba(116, 53, 5, 0.754) 50%,
            rgba(0, 0, 0, 1) 100%
        );
    }

    .verificar_datos {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .vd_bordes {
        background-color: rgb(116, 53, 5);
        width: 100%;
        height: 5vw;
    }
}

/*CCS MOVIL*/
@media all and (max-width: 1000px) and (orientation: portrait) {
    #datosPadrino {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        width: 90vw;
        flex-direction: column;
        height: 70vh;
        border-radius: 10px;
        box-shadow: 0px 0px 10px gray;
    }
    #datosComprobante {
        display: flex;
        width: 90vw;
        border-radius: 10px 10px 0px 0px;
        flex-direction: column;
        height: 40vh;
    }
    #c_datos h5 {
        text-align: center;
    }
    .input_comprobante {
        margin-top: 10px;
        background-color: rgb(158, 108, 0);
        color: white;
        width: 70vw;
        height: 5vh;
        border-radius: 20px;
        border: 1px solid black;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input_comprobante:hover {
        color: white;
    }
    .enviar {
        background-color: rgb(2, 122, 165);
    }

    #c_datos div {
        display: flex;
        flex-direction: column;
    }

    #padrino_info {
        flex: 1;
        display: flex;
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #c_datos {
        flex: 1;
        display: flex;
        margin-top: 40px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .b1 {
        border-radius: 10px 10px 0px 0px;
    }

    .b2 {
        border-radius: 0px 0px 10px 10px;
    }

    #datosPadrino input {
        margin-top: 15px;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        text-align: center;
        width: 90%;
    }

    #fondoAdoptarArboles {
        background-image: url("/img/fude17.jpg");
        background-size: 100% 100%;
        height: 100vh;
    }

    .tituloAA {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background: linear-gradient(
            140deg,
            rgba(0, 0, 0, 0.9539390756302521) 0%,
            rgba(116, 53, 5, 0.754) 50%,
            rgba(0, 0, 0, 1) 100%
        );
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }
    .tituloAA label {
        font-size: 30px;
        font-weight: bold;
    }

    .verificar_datos {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .vd_bordes {
        background-color: rgb(116, 53, 5);
        width: 100%;
        height: 10vh;
    }
    #pdf_img {
        border-radius: 0px 0px 20px 30px;
        width: 90vw;
        height: 55vh;
    }
    .column {
        display: flex !important;
        flex-direction: column !important;
    }
}
@media all and (max-width: 1000px) and (orientation: landscape) {
    #datosPadrino {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        width: 90vw;
        flex-direction: column;
        height: 100vh;
        border-radius: 10px;
        box-shadow: 0px 0px 10px gray;
    }
    #datosComprobante {
        display: flex;
        width: 90vw;
        border-radius: 10px 10px 0px 0px;
        flex-direction: column;
        height: 40vh;
    }
    #c_datos h5 {
        text-align: center;
    }
    .input_comprobante {
        margin-top: 10px;
        background-color: rgb(158, 108, 0);
        color: white;
        width: 40vw;
        height: 4.5vw;
        border-radius: 20px;
        border: 1px solid black;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input_comprobante:hover {
        color: white;
    }
    .enviar {
        background-color: rgb(2, 122, 165);
    }

    #c_datos div {
        display: flex;
        flex-direction: column;
    }

    #padrino_info {
        flex: 1;
        display: flex;
        padding: 10px;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #c_datos {
        flex: 1;
        display: flex;
        margin-top: 40px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 20vh;
    }
    .b1 {
        border-radius: 10px 10px 0px 0px;
    }

    .b2 {
        border-radius: 0px 0px 10px 10px;
    }

    #datosPadrino input {
        margin-top: 15px;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        text-align: center;
        width: 90%;
    }

    #fondoAdoptarArboles {
        background-image: url("/img/fude17.jpg");
        background-size: 100% 100%;
        height: 100vh;
    }

    .tituloAA {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background: linear-gradient(
            140deg,
            rgba(0, 0, 0, 0.9539390756302521) 0%,
            rgba(116, 53, 5, 0.754) 50%,
            rgba(0, 0, 0, 1) 100%
        );
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }
    .tituloAA label {
        font-size: 30px;
        font-weight: bold;
    }

    .verificar_datos {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .vd_bordes {
        background-color: rgb(116, 53, 5);
        width: 100%;
        min-height: 10vh;
    }
    #pdf_img {
        border-radius: 0px 0px 20px 30px;
        width: 90vw;
        height: 55vh;
    }

    .column {
        display: flex !important;
        flex-direction: column !important;
    }
}

/*Comprobante de pago*/
@media (min-width: 1001px) {
    .cc_background {
        display: flex;
        flex: 1;
        background-image: url("/img/fude18.jpg");
        background-size: 100% 100%;
    }
    .cc_mascara {
        flex: 1;
        background: linear-gradient(
            140deg,
            rgba(0, 0, 0, 0.9539390756302521) 0%,
            rgba(116, 53, 5, 0.754) 50%,
            rgba(0, 0, 0, 1) 100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comprobant_container {
        width: 80%;
        padding: 40px;
        background-color: white;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 0px 25px black;
    }
    .end_process_img {
        width: 7vw;
        height: 10vw;
        margin-bottom: 10px;
    }
}
/*CSS MOVIL*/
@media all and (max-width: 1000px) and (orientation: portrait) {
    .cc_background {
        display: flex;
        flex: 1;
        background-image: url("/img/fude18.jpg");
        background-size: 100% 100%;
    }
    .cc_mascara {
        flex: 1;
        background: linear-gradient(
            140deg,
            rgba(0, 0, 0, 0.9539390756302521) 0%,
            rgba(116, 53, 5, 0.754) 50%,
            rgba(0, 0, 0, 1) 100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    .comprobant_container {
        width: 95%;
        padding: 40px;
        background-color: white;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        border-radius: 10px;
        box-shadow: 0px 0px 25px black;
    }
    .end_process_img {
        width: 28vw;
        height: 20vh;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 1000px) and (orientation: landscape) {
    .cc_background {
        display: flex;
        flex: 1;
        background-image: url("/img/fude18.jpg");
        background-size: 100% 100%;
    }
    .cc_mascara {
        flex: 1;
        background: linear-gradient(
            140deg,
            rgba(0, 0, 0, 0.9539390756302521) 0%,
            rgba(116, 53, 5, 0.754) 50%,
            rgba(0, 0, 0, 1) 100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    .comprobant_container {
        width: 80%;
        padding: 40px;
        background-color: white;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        border-radius: 10px;
        box-shadow: 0px 0px 25px black;
    }
    .end_process_img {
        width: 13vw;
        height: 27vh;
        margin-bottom: 10px;
    }
}

