#logovs{
    
  position: relative;
  right:20%;
	background-color: rgba(14.116.5, 0.877);
	border-radius: 50%;
	border:6px white solid;
	padding:30px 40px 30px 40px;
	width: 15vw;
  	height: 15vw;
	border-style: double;
	object-fit: contain;

}
.tituloVS{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding:5%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.916) 0%, rgba(14, 116, 5, 0.653) 100%);
}
#textovs>*{
-webkit-animation: fadeInUp 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeInUp 1s; /* Firefox < 16 */
        -ms-animation: fadeInUp 1s; /* Internet Explorer */
         -o-animation: fadeInUp 1s; /* Opera < 12.1 */
            animation: fadeInUp 1s;
	
}
#fondoVisualizadorArboles{
	background-image: url('/img/fude15.jpg');
}
#VisualizacionArboles{
	/* background-image: url('/img/arbol.jpg'); */
	background:white;
	display: flex;
	flex-direction: column;
	height: 30vw;
	box-shadow: 0px 0px 15px gray;
	color: white;
	width: 35vw;
	border-radius: 10px;
	padding:20px;
	border:2px white solid;
}
#lotes{
	flex: 1;
	align-items: center;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	padding: 20px;
	cursor: pointer;
}
#lotes div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center; 
}
#lotes div input{
	margin-right:5px;
}

.lote{
	width: 6vw;
	background-color: rgba(255,255,255,0.1);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	margin-right: 3%;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	color: white;
	justify-content:space-between; 
}

.lote:hover
{
	box-shadow: 0px 0px 10px cyan;
}

.contLote
{
	
    align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contLote div i
{
	color: green;
}
.contLote div{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#cajaLote {
	font-weight: bold;
	border-radius: 0px 10px 10px 0px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 8px 20px black;
	font-size: 3vh;
	height: auto;
	color: black;
	width: 5vw;
	padding-bottom: 20px;
	background-color:white;
	
}

#cajavs{
	flex-direction: column;
/* background-image: url('/img/fude4.jpg'); */
/* background:white; */
/* background: rgb(32,205,0);
background: radial-gradient(circle, rgba(32,205,0,1) 0%, rgba(0,145,42,1) 54%, rgba(0,29,24,1) 100%); */
	display: flex;
	padding:10px;
	justify-content: center;
}

#cajaLote input{
	border:1px yellowgreen solid;
	border-radius: 10px;
	height: 25px;
}

.btn_adoptar
{
	margin-top: 3vw;
	outline: none;
	border:none;
	margin:auto;
	margin-bottom: 4px;
	color: white;
	text-shadow: 0px 0px 5px black;
	width: 8vw;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	background-color: green;
}

.arbolVW{
	width: 3vw;
	margin-top: 5px;
	padding: 10px;
}

#arbolInfo{
	box-shadow: 0px 8px 20px black;
	width: 20vw;
	height:30vw;
	border-radius: 10px 0px 0px 10px;
	margin-bottom: 10px;
	
}

#disponibilidad{
	display: flex;
	padding: 5px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


.lote label{
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 2px rgba(255,255,255,0.5) dotted;
}

#mascara{
/* background: linear-gradient(180deg, rgba(2,27,38,0.8) 0%, rgba(33, 44, 253, 0.7) 100%); */
/* flex:1; */
/* height: 85vh; */
}

.adoptado{
color: #808080;
font-size: 20px;
}


.disponible{
color:green;
font-size: 20px;
}

#datosArbol{
	background-color: white;
	padding:20px;
	height:30vw;
	width:15vw;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 0px 10px 10px 0px;
	align-items: center;
	justify-content:center;
	box-shadow: 0px 10px 20px black;
}


#adoptado, #libre{
	margin: 0px 10px 0px 10px;

}

.fondo_lote{
	background-image: url('/img/fude2.jpg');
	width:15vw;
	height:30vw;
	background-size: cover;
	display: flex;
	border-radius:10px 0px 0px 10px;
	
	box-shadow: 0px 8px 20px black;
}

.escoger_lote{
	display:flex;
	flex-direction: row;
	margin:auto;
	
}
.color{
	display: flex;
	flex-direction: column;
	color:white;
	flex:1;
	padding: 5px;
	justify-content:center;
	align-items: center;
	border-radius:10px 0px 0px 10px;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,0.7539390756302521) 0%, rgba(14, 116, 5,0.8539390756302521) 47%, rgba(0,0,0,1) 100%);
}
#plano{
display:flex;
flex-direction:row;
flex:1;
align-items:center;
justify-content:center;
padding:20px;
/* background-color: blue; */
}