html{
height: 100%;

}

body{
background: rgb(131,0,61);
background: linear-gradient(17deg, rgba(131,0,61,1) 6%, rgba(28,0,14,1) 100%);
font-family: 'Quicksand', sans-serif;
margin:0;
height: 100%;
flex-direction: column;
display: flex;
align-items: center; 

} 

header{    
height: auto;
width: 100%;
background-color: rgb(28, 0, 14);
display: flex;
flex: 0;
}
header a{
color: white;
}

.log{
margin-bottom: 15px;
padding-bottom: 15px;
font-size: 30px;
}

#app, #app main{
flex-direction: column;
margin: auto;
width: 100%;
height: 100%;
text-align: center;

}

.logIn {
margin:auto;
color: white;
border: 1px white solid;
background-color: rgba(255,255,255, 0.1);
max-width: 300px;
max-height: 300px;
border-radius: 15px;
filter: drop-shadow(0px 0px 10px black);
flex-direction: column;
flex: 0;
padding: 20px;
}

#password, #user {
display: flex;
background-color: rgb(28, 0, 14);
min-height: 10px;
padding: 10px;
border-radius: 6px;
margin-bottom: 20px;
}

#user img, #password img{
width: 25px;
height: 20px;
border-right: 1px gray solid;
}

#email, #clave {
color: white;
min-height:10px;
border-color: transparent;
flex:1;
background-color: transparent;
}

#email:focus, #clave:focus {
outline: none;

}

#email:-webkit-autofill, #email:-webkit-autofill:hover, #email:-webkit-autofill:focus
{
border: none;
-webkit-text-fill-color: white;
transition: background-color 5000s ease-in-out 0s;

}

#clave:-webkit-autofill:hover, #clave:-webkit-autofill, #clave:-webkit-autofill:focus {
border: none;
-webkit-text-fill-color: white;
transition: background-color 5000s ease-in-out 0s;
}

#btn_forgot{
text-align: center;
margin-bottom: 10px;
display: flex;
flex-direction: column;
flex: 1;
}
.btn_ingresar {
background-color: rgb(6, 131, 156);
min-height: 30px;
border-color: transparent;
border-radius: 6px;
color: white;
flex:1;
}

.btn_ingresar:hover {
cursor: pointer;
}
#forgot{
margin-bottom:  10px;
color: white;
font-size: 15px;
}

.card img {
width: 60px;
height: 60px;
margin-left: 150px;
border-radius: 10px;
}

#user label, #password label {
margin-right: 5px;
}


/*home css*/
.banner{
	display: flex;
	flex:1;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('/img/fude_banner.jpg');
}

#banner_mascara{
	background-color: rgba(0,0,0,0.6);
	flex:1;
}

#banner_texto{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	color: white;
	font-weight: bold;
	padding: 30px;
}

#banner_texto img{
	width: 15rem;
}

#fudebiol{
	font-size: 60px;
}

#centrobiol{
	font-size: 40px;
}

.home{
	background-color: white;
	display: flex;
	flex-direction: column;
	flex:1;
	padding: 100px;
}

.welcome_left{
	
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	
}

.welcome_right{
	
	margin-top: 40px;
	text-align: right;
	font-size: 30px;
	font-weight: bold;

}
.subtitulo{
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}
#home_texto{
	margin-top: 60px;
	text-align: justify;
	word-wrap: break-word;
	overflow-wrap: break-word;


}
.seccion{
	display: flex;
	flex-direction: column;
	border-bottom: 1px gray solid;
	border-top: 1px gray solid;
	padding-bottom: 30px;
	padding-top: 30px;
}
.subseccion{
display: flex;
flex-direction: row;
}
.img_izquierda{
	width: 30rem;
	margin-left: 30px;
}
.img_derecha{
	width:30rem;
	margin-right:  30px;
}

.btn_home_izquierda{
	max-width: 150px;
	height: 50px;
	border:none;
	background-color: green;
	color: white;
	cursor: pointer;
	border-radius: 2px;
	margin-top: 20px;

}

.btn_home_derecha{
	margin-top: 20px;
	position: relative;
	left:64rem;
	max-width: 150px;
	height: 50px;
	border:none;
	background-color: green;
	color: white;
	cursor: pointer;
	border-radius: 2px;

}