#tabla{
	margin: auto;
	flex: 0;
}
#tablaUsuarios{
background: rgb(0,18,111);
background: linear-gradient(90deg, rgba(0,18,111,1) 0%, rgba(0,136,147,1) 100%);border-radius:0px 0px 20px 20px;
-webkit-box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.93);
-moz-box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.93);
box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.93); 
flex:0;
padding: 20px;
margin: auto;
min-width: 900px;


}

#tablaUsuarios caption{
background: rgb(0,40,244);
background: linear-gradient(90deg, rgba(0,40,244,1) 0%, rgba(0,208,224,1) 100%);
border-radius:20px 20px 0px 0px;
height: 30px;
padding-top: 10px;
color: white;
font-weight: bold;
}
#tablaUsuarios tbody th{
background-color: rgba(255,255,255,0.5);
border-radius: 10px;

}

#tablaUsuarios tbody tr{
margin-left:50px;
}

#tablaUsuarios tbody tr td{
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 10px;
cursor: pointer;


}
#tablaUsuarios tbody tr td:hover{
background-color: rgba(0,0,0,0.2);
}


#botonesEdicion{
letter-spacing: 60px;
margin-top: 50px;
}

.btn_guardar{  
cursor: pointer;
height: 40px;
width: 130px;
border:2px white solid;
border-style: inset;
background: green;
color:white;
border-radius: 100px;
padding: 4px 22px 5px 22px;
font-size: 16px;
font-family: 'Quicksand';
font-weight: 900;
outline: none;

}

.btn_eliminar{
cursor: pointer;
height: 40px;
width: 130px;
border-radius: 100px;
border:2px white solid;
border-style: inset;
background: darkred;
color:white;
padding: 4px 22px 5px 22px;
font-size: 16px;
font-family: 'Quicksand';
font-weight: 900;
outline: none;
}
.btn_editar{
cursor: pointer;
height: 40px;
width: 130px;
border-radius: 100px;
border:2px white solid;
border-style: inset;
background: #3271a8;
color:white;
padding: 4px 22px 5px 22px;
font-size: 16px;
font-family: 'Quicksand';
font-weight: 900;
outline: none;


}

.btn_guardar:hover,.btn_eliminar:hover, .btn_editar:hover  {
transition: 0.2s;
transform: translateY(-3px);
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

}  
.btn_guardar:active, .btn_eliminar:active, .btn_editar  {
transition: 0,2s;
transform: translateY(-1px);
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

#agregarUsuario{
	position: relative;
	left: 0;
	transition: 0.5s;
	border: 1px white solid;
	align-items: center;
    background: linear-gradient(180deg, rgba(3,6,143,0.8519782913165266) 0%, rgba(1,48,105,1) 97%);
    padding: 0px 50px 50px 50px;
	display: flex;
	flex-direction: column;
	color: white;
	border-radius: 0px 30px 30px 0px;
	-webkit-box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.93);
	-moz-box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.93);
	box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.93); 
}
#agregarUsuario .item{
	color: white;
	display: block;
	width: 100%;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}
#agregarUsuario .item:hover{
	background: rgba(250, 107, 255,0.2); 
}
#agregarUsuario i:{
	padding-right: 10px;
	margin-bottom: 10px;
}
#btn_sidebar{
	max-width: 100px;
	max-height: 100px;
	z-index: 1;
	color: white;
	position: relative;
	cursor: pointer;
	left: 70px;
	top:160px;
	margin-bottom:10px;
	transition: 0.5s;
	transition-property: color;
	
}
#btn_sidebar img{
	max-width: 30px;
	max-height: 30px;
	border-radius: 40px;
	z-index: 1;
	color: white;
	position: relative;
	cursor: pointer;
	left: 70px;
	top:160px;
	margin-bottom:10px;
	transition: 0.5s;
	transition-property: color;
	
}
#check:checked ~ #agregarUsuario {
	left: -240px;
}
#check:checked ~ #agregarUsuario a span{
	display: none;
}
#check:checked ~ #agregarUsuario #hrefUser{
	display: none;
}
#check:checked ~ #agregarUsuario a{
	font-size: 20px;
	margin-left: 170px;
	width: 80px;
}
#adduser{
	margin-top: 0px;
	font-size: 70px;
}

#check{
	display: none;
}
.texto{
margin-top: 20px;
}

#agregarUsuario input, #agregarUsuario select{
padding: 3px;
text-align: center;
border-radius: 5px;
border: 1px white solid;
background-color: rgba(0,0,0,0.3);
color: white;
height: 30px;

}
#agregarUsuario select{
 width: 180px;
}
 #RegUsuarios{
 	font-weight: bold;
 	font-size: 20px;
 }


#agregarUsuario input:-webkit-autofill, #agregarUsuario input:-webkit-autofill:hover,#agregarUsuario input:-webkit-autofill:focus
{
border: none;
-webkit-text-fill-color: white;
transition: background-color 5000s ease-in-out 0s;

}




