#tabla{
	margin: 50px;
	flex: 0;
}
#tablaUsuarios{
background: white;
border-radius:0px 0px 0px 0px;
box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.93); 
flex:0;
padding: 0px 20px 20px 20px;
margin: auto;
min-width: 900px;
height: 200px;
}
 
 tbody tr>.number{
 	
 	color:black;
 	font-weight: bold;
 }


#tablaUsuarios caption{
background: rgb(21,144,14);
background: radial-gradient(circle, rgba(21,144,14,1) 0%, rgba(0,87,3,1) 100%);
border-radius:20px 20px 0px 0px;
height: 30px;
padding: 20px 0px 20px 0px;
color: white;
font-weight: bold;
font-size: 20px;
}
#tablaUsuarios tbody th{
background-color: rgba(255,255,255,0.5);
border-bottom: 1px black solid;
font-size: 17px;
}

#tablaUsuarios tbody tr{
margin-left:50px;
}

#tablaUsuarios tbody tr>.fila{
color: darkgreen;
font-weight: bold;
border-radius: 10px;
cursor: pointer;
}

#tablaUsuarios tbody tr td:hover{
background-color: rgba(0,0,0,0.2);
}

#botonesEdicion{
box-shadow: 4px 30px 47px -2px rgba(0,0,0,0.9);
background: radial-gradient(circle, rgba(21,144,14,1) 0%, rgba(0,87,3,1) 100%);
letter-spacing: 60px;
padding: 20px 0px 20px 0px;
border-radius: 0px 0px 20px 20px;

}

.btn_guardar{  
cursor: pointer;
height: 40px;
width: 130px;
border:2px white solid;
border-style: inset;
background: white;
color:green;
border-radius: 100px;
padding: 4px 22px 5px 22px;
font-size: 16px;
font-family: 'Quicksand';
font-weight: 900;
outline: none;

}


.btn_guardar:hover,.btn_eliminar:hover, .btn_editar:hover  {
transition: 0.2s;
transform: translateY(-3px);
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
 
.btn_guardar:active, .btn_eliminar:active, .btn_editar:active {
transition: 0,2s;
transform: translateY(-1px);
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

#agregarUsuario{
	position: relative;
	left: 0;
	transition: 0.5s;
	border: 1px white solid;
	align-items: center;
    background: radial-gradient(circle, rgba(21,144,14,1) 0%, rgba(0,87,3,1) 100%);
    padding: 0px 50px 50px 50px;
	display: flex;
	flex-direction: column;
	color: white;
	border-radius: 0px 30px 30px 0px;
	-webkit-box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.93);
	-moz-box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.93);
	box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.93); 
}


#btn_sidebar{
	max-width: 100px;
	max-height: 100px;
	z-index: 1;
	color: white;
	position: relative;
	cursor: pointer;
	left: 70px;
	top:160px;
	margin-bottom:10px;
	transition: 0.5s;
	transition-property: color;
	
}
#btn_sidebar img{
	max-width: 30px;
	max-height: 30px;
	border-radius: 40px;
	z-index: 1;
	color: white;
	position: relative;
	cursor: pointer;
	left: 70px;
	top:160px;
	margin-bottom:10px;
	transition: 0.5s;
	transition-property: color;
	
}
#check:checked ~ #agregarUsuario {
	left: -240px;
}
#check:checked ~ #agregarUsuario a span{
	display: none;
}
#check:checked ~ #agregarUsuario #hrefUser{
	display: none;
}
#check:checked ~ #agregarUsuario a{
	font-size: 20px;
	margin-left: 170px;
	width: 80px;
}
#adduser{
	margin-top: 0px;
	font-size: 70px;
}

#check{
	display: none;
}
.texto{
margin-top: 15px;
}

#agregarUsuario input, #agregarUsuario select{
padding: 3px;
text-align: center;
border-radius: 5px;
border: 1px white solid;
background-color: rgba(0,0,0,0.3);
color: white;
height: 30px;
outline: none;
}
#agregarUsuario select{
 width: 180px;
 height: 40px;
}
 #RegUsuarios{
 	font-weight: bold;
 	font-size: 20px;
 }


#agregarUsuario input:-webkit-autofill, #agregarUsuario input:-webkit-autofill:hover,#agregarUsuario input:-webkit-autofill:focus
{
border: none;
-webkit-text-fill-color: white;
transition: background-color 5000s ease-in-out 0s;

}




