
.publicacion-base{
    background-color: white;
    padding:4%;
    margin:auto;
    border-radius: 40px;
    width:90%;
    border:2px solid black;
    margin-bottom:40px;

}
.publicacion-encabezado{
    display:flex;
    flex-direction:row;

}
.publicacion-logo{
    width:5vw;
    height:5vw;
    border-radius:50%;
    box-shadow: 0px 0px 10px gray;
}

.titulo-fecha{
    margin-left: 2%;
    display:flex;
    flex-direction:column;
    text-align:left;

}
#publicacion-titulo{
    font-size:1.5rem;
    font-weight: bold;
}
.publicacion-fecha{
    color:gray;

}
#publicacion-descripcion{
    margin-top: 4%;
    text-align: justify;

}
#publicacion-imagenes{
    margin-top:5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;

}

.publicacion-fondo{
    background-image: url('/img/lbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#contenedor-publicaciones{
    margin-top:20px;
    height:90vh;
    /* background-color: yellow; */
    overflow: auto;
    display:flex;
    flex-direction: column;
}
.crear-publicacion{
    background-color:rgba(0,0,0,0.6);
    border-radius:20px;
   cursor:pointer;
    color:white;
    margin:auto;
    width:60vw;
    padding:2%;
    text-decoration: none;
}
.crear-publicacion:hover{
    color:lime;
}

/*Editor de publicaciones*/
.editor-base{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.editor-herramientas{
    background-color: white;
    padding:2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 20px;
    border: 2px solid black;
}
.editor-herramientas textarea{
    max-height: 20vh;
}
.herramientas-titulo{
    text-align: center;
    margin-bottom: 40px;
}
.publicacion-base-size{

    width:60vw !important;
}

.size{
    height:15vw !important;
}

.size2{
    width: 15vw !important;
    height: 10vw !important;
}
#titulo-publicacion{
    margin-bottom: 20px;
}
#descripcion-publicacion{
    margin-bottom: 20px;
}
#vista-previa, #guardar-publicacion{
margin-left: auto;
margin-right: auto;
border-radius: 10px;
height:3vw;
color:white;
width:100%;
border:none;
outline:none;
}
#vista-previa{
    background-color: rgb(17, 116, 182);
    margin-top: 50px;
    margin-bottom: 30px;
}
#guardar-publicacion{
    
    background-color: rgb(4, 155, 79);

}
#vista-previa:hover, #guardar-publicacion:hover,#agregar-fotos:hover{
    transition:0.1s;
    box-shadow: 0px 0px 5px gray;
}
#fotos-publicacion{
    display:none;
}
#agregar-fotos{
    cursor:pointer;
    background-color: rgb(180, 5, 5);
    height:3vw;
    border:none;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    border-radius: 10px;
    
}
.home h1{
    background-color:rgba(0,0,0,0.5);
    color:white;
    border-radius:25px;
}
.container-style{
    border-radius: 10px;
    overflow: hidden;
    padding-left:10px;
    outline:none;
    border: 1px solid gray;
}
.image-preview{
width:5vw;
height:5vw;
margin-left:5px;
margin-bottom: 5px;
}
#vista-previa-fotos{
    height:20vh;
    width:20vw;
    overflow: auto;
    margin-top:3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
