 
 #encabezado {
               
    text-align: right;
    color: transparent;
    flex: 1;
    padding-right: 20px;

            }
 #encabezado a{
 	color: white;
 }
 #container{
 	flex-direction:row;
  
 }

 .register {
    color: white;
    border: 1px white solid;
    background-color: rgba(255,255,255, 0.1);
    max-width: 400px;
    height: 400px;
    border-radius: 15px;
    filter: drop-shadow(0px 0px 10px black);
    flex-direction: column;
    margin:auto;
    padding: 20px;
    }
 .reg{
    margin-bottom: 15px;
    font-size: 25px;
     
     }

  .cuerpo form div{
  	display: flex;
  	flex-direction: column;
  	height: 20px;
  	
  }
.cuerpo form div input{
	flex:1;
	min-height: 20px;
	background-color: transparent;
	border-color: transparent;
	color: white;
    }
.btn_registrar {
	 background-color: rgb(6, 131, 156);
	 min-height: 30px;
	 border-color: transparent;
	 border-radius: 6px;
	 color: white;
	 margin-top: 20px;
	 flex:1;
   }

   .btn_registrar:hover {
                cursor: pointer;
            }


   
     #name:-webkit-autofill, #name:-webkit-autofill:hover, #name:-webkit-autofill:focus
        {
          border: none;
          -webkit-text-fill-color: white;
          transition: background-color 5000s ease-in-out 0s;
         
        }
   #confirmar input:focus, #contraseña input:focus, #nombre input:focus  {
               outline: none;
               margin-bottom: 5px;
            }

     #nombre div, #contraseña div, #confirmar div, #correo div  {
     	flex-direction: row;

     }
      #nombre div label, #contraseña div label, #confirmar div label, #correo div label {
        margin-right: 5px;
     	
     }