/*Registro padrinos*/

.tituloRP{
	background: linear-gradient(90deg, rgba(0,0,0,0.9164040616246498) 0%, rgba(152,0,0,0.7539390756302521) 100%);    
}

#fondoRP{
	background-image: url('/img/b12.jpg');
}
.tipo1, .tipo2{
margin: auto;
display: flex;
flex-direction: column;
align-items: center;

}

#contTipo{
    display: flex;
	flex:1;
	flex-direction: row;
	margin-bottom: 10px;
}
	
	
	#cajaArbolRP
	{	
		margin-top: 10%;
		font-weight: bold;
		border-radius: 10px;
        text-align: left;
		color:rgb(152,0,0) ;
		box-shadow: 0px 8px 20px gray;
		font-size: 2.5vh;
        height:70vh;
	
	}
    #botonRP
	{	
		
		padding-top: 15%;
        text-align: center;
		
	
	}
	
	
	#treeheaderRP{
		text-align: center;
		background-image: url('/img/header.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px 10px 0px 0px;
		flex:1;
	
	}
	#treeheadermascaraRP{
        display: flex;
        flex-direction: column;
		padding: 20px;
		padding-bottom: 50px;
		padding-top: 50px;
		text-align: center;
		padding-bottom: 20px;
		border-radius: 10px 10px 0px 0px;
		flex:1;
		background: linear-gradient(180deg, rgba(152,0,0,0.7707457983193278) 25%,  rgba(152, 0, 0, 0.52) 54%, rgba(255,255,255,1) 100%);
	}
	#cajaArbolRP input[type=text]{
		width: 20vw;
		padding-left: 3px;
		height: 25px;
		outline: none;
        margin-top: 2%;
		border:none;
		border-bottom: 1px gray solid;
		
	}
	#cajaArbolRP input[type=text], #cajaArbolRP label{
		margin-left: 20px;
		margin-right: 20px;
	}
	.btn_registrarRP{
	cursor: pointer;
	width: 20vh;
	background: rgba(152,0,0);
	color:white;
	font-size: 2.5vh;
	font-family: 'Quicksand';
	font-weight: 900;
	outline: none;
    border:none;
    border-radius: 5px;
	}
	
	.btn_registrarRP:hover,.btn_arbolesRP:hover {
	transition: 0.2s;
	transform: translateY(-3px);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	}
	
	#RegArbol{
		text-align: center;
		font-weight: bold;
		font-size: 3.5vh;
		color: white;
		text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	}
	.TextReg{
		text-align: center;
		margin: auto;
		margin-top: 3%;
		margin-bottom: 3%;
		font-size: 6vh;
		font-weight: bold;
		
	}
	
	#subText{
	font-size: 4vh;
	
	}
	
	.btn_buscarRP{
	position: relative;
	text-align: left;
	top:6px; 
	cursor: pointer;
	right: 30px;
	height: 40px;
	width: 70px;
	border:none;
	background: white;
	color:black;
	border-radius:  0px 10px 10px 0px;
	font-size: 20px;
	font-family: 'Quicksand';
	outline: none;
	}
	.btn_buscarRP:hover{
		color: rgba(152,0,0);
	}
	
	#buscador
	{
		margin-bottom: 4%;
		font-size: 3vh;
	}
	#buscador input{
		text-align: center;
		width: 400px;
		height: 34px;
		border:none;
		border-bottom: 1px gray solid;
		outline: none;
	}
	#tablaArbolesRP{
		padding:5%;	
		padding-top:3%;	
		background:white;
		white-space: nowrap;
		flex:0;
		box-shadow:-1px -0px 25px lightgray;
		font-size: 2.5vh;
		margin-left:20px;
		border-collapse: unset;
		min-width: 60vw !important;
		min-height: 65vh !important;
		max-height: 65vh !important;
		border:none;
		caption-side: top;
	}
	#tablaArbolesRP caption{
		background:rgba(152,0,0);	
		color:white;
		text-align: center;
		font-size: 3vh;
		font-weight: bold;
		border-radius: 20px 20px 0% 0%;

	}
	#tablaArbolesRP>thead>tr>th{
		color: rgba(152,0,0);	
		padding-right: 6%;
	}
	
	#tablaArbolesRP tbody tr>.fila{
		color: black;
		font-weight: bold;
		cursor: pointer;
		text-align: center;
		
		padding-right: 6%;
	}
	
	#botonesEdicionArbolesRP{
		display: flex;
		flex-direction: row;
		position:relative;
		bottom:5px;
		margin-left: 20px;
		box-shadow: 0px 6px 20px lightgray;
		background: white;
		letter-spacing: 60px;
		padding: 10px 0px 10px 0px;
		z-index: 7;
		border-radius: 0px 0px 20px 20px;
	}
	
	#paginacion {
		margin-left:auto;
		align-items: center;
		justify-content: flex-end;
		display: flex;
		word-spacing: 20px;
		flex-direction: row;
	}
	.action{
		padding-right: 1%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.btn_arbolesRP{ 
		margin-left: auto;
		cursor: pointer;
		height: 5vh;
		width: 20vh;
		border:none;
		border-radius: 5px;
		background: rgba(152,0,0);;
		color:white;
		text-align: center;
		font-size: 3.0vh;
		font-family: 'Quicksand';
		font-weight: 900;
		outline-style: none;
		border-style: none!important;
	}
	.btn_pagRP{
		margin-left: 10%;
		margin-right:20%;
		cursor: pointer;
		height: 5vh;
		width: 10vh;
		border:none;
		border-radius: 5px;
		background: rgba(152,0,0);
		color:white;
		text-align: center;
		padding: 4px 22px 5px 22px;
		font-size: 2vh;
		font-family: 'Quicksand';
		font-weight: 900;
		text-decoration: none;
		outline-style: none;
		border-style: none!important;	
	}
	
	
