.report_container{
  background-color:white !important;
  margin:auto;
  width:70%;
  margin-top:100px;
  margin-bottom: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px black;
}
.gradiant_background{
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,167,67,1) 50%, rgba(0,0,0,1) 100%) !important;
}

.gradiant_background2{

  background: rgb(255,222,0);
  background: radial-gradient(circle, rgba(255,222,0,1) 0%, rgba(226,108,0,1) 55%, rgba(0,0,0,1) 100%) !important;  
}

.column_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.space-around{justify-content:space-around;}
.tree_pic_size{
  width:10vw;
}

.circle{
  font-weight: bold;
  display: flex;
  border-radius:30px;
  height:30px;
  justify-content:center;
  align-items:center;
  text-align:center;
  width:100%;
  border:1px dashed green;
  }
  .circle2{
    font-weight: bold;
    display: flex;
    border-radius:30px;
    height:30px;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:100%;
    }
    .a{
      border:1px dashed orangered;
    }
  

  .clip{
    width: 30%;
    position: relative;
    bottom:60px;
  }
